<h1>Bonjour entre  le titre de ton film dans la barre de recherche</h1>

<%= form_tag('/') do %>
<%= text_field_tag "movie" %>
<%= submit_tag "Rechercher", class: "btn btn-large btn-primary" %>
<% end %>

<% if @info %>
<table class="table">
  <thead>
    <tr>
      <td>Affiche</td>
      <td>Titre</td>
      <td>Réalisateur</td>
      <td>Date de sortie</td>
    </tr>
  </thead>
  <tbody>
    <% @info.each do |movie| %>
      <tr>
        <td><%= image_tag movie[:image] %></td>
        <td><%= movie[:title] %></td>
        <td><%= movie[:director] %></td>
        <td><%= movie[:release_date] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>